html, body {
  height: 100%;
  width: 100%;
  min-height: 70em;

}

.left {
  height: 100%;
  width: 33%;
  background-color: #4D99D6;
  float: left;

}

.mid {
  height: 100%;
  width: 33%;
  background-color: #86FCCB;
  float: left;

}

.right{
  height: 75%;
  width: 33%;
  background-color: #C0D18E;
  float: left;
    
}

.bottom {
  height: 25%;
  width: 33%;
  background-color: #CF0A38;
  float: left;
    
}

div p {
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: 3em;
      
}