html, body {
  height: 100%;
  width: 100%;
    
}

.topLeftSquare {
  height: 8em;
  width: 12%;
  background-color: #608edb;
  float: left;
  margin: 1.25em 0em 0em 4.25em;
    
}

.header {
  height: 10em;
  width: 100%;
  background-color: #d1d1d1;
    
}

.paragraph {
  height: 22em;
  width: 100%;
  background color: white;
  float: left;
    
}

.one {
  height: 10em;
  width: 100%;
  background-color: #608edb;
  float: left;
    
}

.two {
  height: 10em;
  width: 100%;
  background-color: turquoise;
  float: left;
    
}

.three {
  height: 10em;
  width: 100%;
  background-color: #ccd68d;
  float: left;
        
}

.footer {
  height: 10em;
  width: 100%;
  background-color: yellow;
  float: left;
    
}

p {
  width: 75%;
  font-family: inherit;
  font-size: 1.95em;
  padding: 1em 1em 1em 4em;
  margin: 1em 1em 1em 1em;
  
}